* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #111827;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 80px;

  background: #111827;
}
.logo {
  color: white;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}
.menu {
  display: flex;
  gap: 35px;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: #00d4ff;
}
.btn {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  background: #00d4ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #009ec3;
}
.hero {
  min-height: 90vh;

  background: url("./images/assets/banner.jpg") center/cover no-repeat;
}
.overlay {
  width: 100%;
  min-height: 90vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.overlay h1 {
  font-size: 78px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 25px;
}

.overlay i {
  color: #00d4ff;
}
.overlay p {
  max-width: 650px;
  width: 90%;
  font-size: 20px;
  line-height: 1.7;

  margin-bottom: 35px;
}
.hero-btn {
  padding: 16px 40px;
  border: none;
  border-radius: 10px;
  background: #00d4ff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.hero-btn:hover {
  background: #009ec3;
}
.speakers {
  padding: 100px 80px;
  background: #f8fafc;
  text-align: center;
}
.speakers h2 {
  font-size: 48px;
  margin-bottom: 15px;
}
.speakers > p {
  color: #6b7280;
  font-size: 18px;
  margin-bottom: 60px;
}
.speaker-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.speaker-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.35s ease;
}
.speaker-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.speaker-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}
.category {
  display: inline-block;
  margin-top: 25px;
  padding: 8px 18px;
  border-radius: 30px;
  background: #00d4ff;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.speaker-card h3 {
  margin-top: 18px;
  font-size: 28px;
}
.speaker-card h4 {
  margin: 12px 0 30px;
  color: #6b7280;
  font-size: 17px;
  font-weight: 500;
}
.pricing {
  padding: 100px 80px;
  background: white;
  text-align: center;
}

.pricing h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.pricing > p {
  font-size: 18px;
  color: #6b7280;
  margin-bottom: 60px;
}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.price-card {
  width: 330px;
  background: #f8fafc;
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.35s ease;
}

.price-card:hover {
  transform: translateY(-10px);
}

.price-card h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

.price-card h1 {
  font-size: 50px;
  color: #00d4ff;
  margin-bottom: 30px;
}

.price-card ul {
  list-style: none;
  text-align: left;
  margin-bottom: 35px;
}

.price-card ul li {
  margin-bottom: 15px;
  color: #555;
}

.price-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #00d4ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.price-card button:hover {
  background: #009ec3;
}
.featured {
  background: #00d4ff;
  transform: scale(1.05);
}

.featured h3,
.featured h1,
.featured ul li {
  color: white;
}

.featured button {
  background: white;
  color: #00d4ff;
}

.featured button:hover {
  background: #f3f4f6;
}
.footer {
  background: #111827;
  color: white;
  padding: 50px 80px 25px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.footer-logo {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}
.social-links {
  display: flex;
  gap: 20px;
}
.social-links a {
  width: 45px;
  height: 45;
  background: #1f2937;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.social-links a:hover {
  background: #00d4ff;
}
.social-links img {
  width: 22px;
  height: 22px;
}
.footer hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 25px;
}
.copyright {
  text-align: center;
  color: #9ca3af;
  font-size: 15px;
}
